
body {
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    }

.location-section {
        text-align: center;
        background-color: #f0f8ff;
        color: #333;
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
    }
    
    .location, .weather {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
    }

h3 {
    color: rgb(111, 111, 238);
    }

h4 {
    color: rgb(7, 165, 12); 
    }

.top-line {
        border-top: 2px solid black; 
        margin-bottom: 10px; 
    }
